<header>
        <nav id="menu">
          <ul>
           
            <li><a [routerLink]="['/']" [routerLinkActive]="['menu_select']"><img src="assets/img/logo.jpg" alt="logo" class="logo"></a></li>
            <li><a [routerLink]="['/contactanos']" [routerLinkActive]="['menu_select']">About us</a></li>
          </ul> 
        </nav>
      </header>
    <section id="global">
       <router-outlet></router-outlet>
      
    </section>
    <footer id="footer">
      <div id="footer_social">
        <div class="vertical_div">
          <h3>
            Social
            
          </h3>

        </div>
        <nav id="menu_footer">
          <ul>
            <li><a href="https://www.linkedin.com/in/franciscocesargansogil/"><img src="assets/img/linkedin.jpg" alt="linkedin" class="icon"></a></li>
          </ul> 
        </nav>
      </div>
      <div id="footer_copyright">
        <span>  2020 por derecho nos pertenecen todas las lolis que esten en la página. All Rights Reserved.</span>
      </div>    
    </footer>  


