<h2>Conoce al loli squad</h2>
				<div id="lista_contacto">
					<ul>
						<li>
							<div class="imagen_div">
								<img src="assets/img/kiko.jpg">
							</div>
							<div class="info_div">
								<h4>Francisco Cesar Ganso Gil</h4>
								<div>
								 	<a href="https://www.linkedin.com/in/franciscocesargansogil/"><img src="assets/img/linkedin.jpg" alt="linkedin" class="icon"></a>
								 </div>	
								<p class="team_descriptor">Me gustan los CTF y hago cosas en mis ratos libres</p>

								
							</div>	
						</li>
						<li>
							<div class="imagen_div">
								<img src="assets/img/ivan.jpg">
							</div>
							<div class="info_div">
								<h4>Iván García Hurtado</h4>
								<div>
								 	<a href="https://www.linkedin.com/in/iv%C3%A1n-garc%C3%ADa-hurtado/"><img src="assets/img/linkedin.jpg" alt="linkedin" class="icon"></a>
								 </div>	
								<p class="team_descriptor">Payaso a tiempo completo esta haciendo el back con el lolicon y además quejica</p>

								
							</div>	
						</li>
						<li>
							<div class="imagen_div">
								<img src="assets/img/duero.jpg">
							</div>
							<div class="info_div">
								<h4>Duero Joshua Cuadrillero Geer</h4>
								<div>
								 	<a href="https://www.linkedin.com/in/duero-joshua-cuadrillero-geer-80a917184/"><img src="assets/img/linkedin.jpg" alt="linkedin" class="icon"></a>
								 </div>	
								<p class="team_descriptor">Le gustan las lolis y es el fundador del club de umaru más grande de españa</p>

								
							</div>	
						</li>
							
					</ul>
				</div>
