<div>
	<div id=titlediv></div>
	<div id=contentdiv>
		<div id=imgdiv>
			<img id=cardimg src={{getCardImageURL(card.multiverseid)}}>
		</div>
		<div id=datadiv>
			<table>
			  <tr>
				<td>Name</td>
				<td>{{card.name}}</td>
			  </tr>
			  <tr>
				<td>MC</td>
				<td>{{card.mc}}</td>
			  </tr>
			  <tr>
				<td>Text</td>
				<td>{{card.text}}</td>
			  </tr>
			  <tr>
				<td>Types</td>
				<td>{{card.cardtypes.join(',')}}</td>
			  </tr>
			  <tr>
				<td>Categories</td>
				<td>{{card.cardclasses.join(',')}}</td>
			  </tr>

			</table> 	
		</div>
	</div>
</div>
